<?xml version="1.0"?>
<config>
    <modules>
        <QS_Fee>
            <version>0.1.7</version>
        </QS_Fee>
    </modules>
    <frontend>
        <routers>
            <fee>
                <use>standard</use>
                <args>
                    <module>QS_Fee</module>
                    <frontName>fee</frontName>
                </args>
            </fee>
        </routers>
        <layout>
            <updates>
                <fee>
                    <file>fee.xml</file>
                </fee>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fee>
				<use>admin</use>
				<args>
					<module>QS_Fee</module>
					<frontName>fee</frontName>
				</args>
			</fee>
            <adminhtml>
                <args>
                    <modules>
                        <fee before="Mage_Adminhtml">QS_Fee_Adminhtml</fee>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<fee>
					<file>fee.xml</file>
				</fee>
			</updates>
		</layout>
    <acl>
        <resources>
            <admin>
                <children>
                    <insurance>
                        <title>Insurance Report</title>
                        <children>
                            <example translate="title" module="fee">
                                <title>Example Menu Item</title>
                            </example>
                        </children>
                    </insurance>
                </children>
            </admin>
        </resources>
    </acl>

    </adminhtml>   
    <global>
    	<sales>
            <quote>
                <totals>
                    <fee>
                        <class>fee/sales_quote_address_total_fee</class>
                    </fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_invoice_fee</class>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_creditmemo_fee</class>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
        	<paypal_prepare_line_items>
        		<observers>
        			<paypal_prepare_line_items>
        				<class>fee/observer</class>
                        <method>updatePaypalTotal</method>
        			</paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>fee/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>fee/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount><to_order>*</to_order></fee_amount>
                <base_fee_amount><to_order>*</to_order></base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <fee translate="title">
                    <title>Fee</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </fee>
            </totals>
        </pdf>
        <models>
            <fee>
                <class>QS_Fee_Model</class>
                <resourceModel>fee_resource</resourceModel>
            </fee>
            <fee_resource>
                <class>QS_Fee_Model_Resource</class>
                <entities>
                    <table_tiers>
                        <table>fee_tiers</table>
                    </table_tiers>
                </entities>
            </fee_resource>
        </models>
        <resources>
            <fee_setup>
                <setup>
                    <module>QS_Fee</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fee_setup>
            <fee_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fee_write>
            <fee_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fee_read>
        </resources>
        <blocks>
            <fee>
                <class>QS_Fee_Block</class>
            </fee>
        </blocks>
        <helpers>
            <fee>
                <class>QS_Fee_Helper</class>
            </fee>
        </helpers>
    </global>
    <default>
    	<sales>
            <totals_sort>
            	<fee>30</fee>
            </totals_sort>
        </sales>
        <upic>
            <general>
                <ftp_server>dev53.quartsoft.com</ftp_server>
                <ftp_user_name>sas_flame</ftp_user_name>
                <ftp_user_pass>dgmait072</ftp_user_pass>
                <upic_email_adress>sales@u-pic.com</upic_email_adress>
                <insurance_as_default>1</insurance_as_default>
            </general>
        </upic>
        <trans_email>
            <ident_dropship>
                <dropship_name>Alex</dropship_name>
                <dropship_email>sasflame5@gmail.com</dropship_email>
            </ident_dropship>
        </trans_email>
    </default>
    <crontab>
        <jobs>
            <fee>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fee/observer::load</model>
                </run>
            </fee>
        </jobs>
    </crontab>
</config>